/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* mix */
body{
  background-color: #000;
  height: 100vh;
}
main{
  height: calc(100% - 150px);
  display: flex;
}
aside{
  width: 300px;
  height: 100%;
  background-color: green;
}
footer{
  height: 150px;
  background-color: pink;
}
.upgrade{
  height: 80px;
  width: calc(100% - 300px);
  background-color: blue;
  position: fixed;
  top: 0;
  left: 300px;
  right: 0;
}
.albums{
  width: calc(100% - 300px);
  height: calc(100% - 80px);
  margin-top: 80px;
  background-color: yellow;
}
