/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* mix */
body{
  color: #666666;
  font-family: 'Montserrat', sans-serif;
}
/* custom scroll */
::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}
::-webkit-scrollbar{
  width: 10px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
  background-color: grey;
  border: 2px solid #555555;
}
.wrapper{
  height: 100vh;
}
main{
  height: calc(100% - 100px);
  display: flex;
  overflow: auto;
}
h4{
  display: inline-block;
  vertical-align: middle;
}
img{
  max-width: 100%;
}
/* aside */
aside{
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #000;
  overflow: hidden;
}
.logo{
  width: 100%;
  padding: 10px;
}
.logo-big{
  height: 50px;
}
.logo_small{
  display: none;
}
.actions{
  padding: 10px 5px;
}
.home,
.search,
.library{
  padding: 5px 5px;
  transition: border 0.5s;
}
.home a,
.search a,
.library a{
  text-decoration: none;
  color: #666666;
  vertical-align: middle;
  padding: 10px;
  transition: color 0.5s;
}
.home:hover,
.search:hover,
.library:hover{
  border-left: 2px solid lime;
}
.home img,
.search img,
.library img{
  height: 30px;
  vertical-align: middle;
  opacity: 0.5;
}
.home:hover a,
.search:hover a,
.library:hover a{
  color: #fff;
}
.home:hover img,
.search:hover img,
.library:hover img{
  opacity: 1;
}
.playlist{
  padding: 10px;
  height: 100%;
  overflow: hidden;
}
.playlist h2{
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
}
.create_playlist{
  padding: 10px 5px;
}
.create_playlist i{
  font-size: 30px;
  vertical-align: middle;
  transition: color 0.5s;
}
.create_playlist a{
  vertical-align: middle;
  text-decoration: none;
  color: #666666;
}
.create_playlist:hover{
  color: #fff;
}
.create_playlist:hover a{
  color: #fff;
}
ul.playlists{
  height: calc(100% - 80px);
  overflow-y: auto;
}
.playlists{
  list-style: none;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
}
.playlists li:not(:last-child){
  margin-bottom: 10px;
}
.playlist li a{
  text-decoration: none;
  color: #666666;
  transition: color 0.5s;
}
.playlist li a:hover{
  color: #fff;
}
.bottom-aside{
  margin-top: auto;
}
.install-app{
  width: 250px;
  margin: 0 20px;
  padding: 10px 10px;
  border-bottom: 1px solid white;
}
.install-app img{
  height: 20px;
  vertical-align: middle;
  opacity: 0.5;
}
.install-app a{
  text-decoration: none;
  color: #666666;
  vertical-align: middle;
  transition: color 0.5s;
}
.install-app:hover a{
  color: #fff;
}
.install-app:hover img{
  opacity: 1;
}
.profile{
  width: 250px;
  padding: 10px 20px;
}
.profile a{
  text-decoration: none;
  color: #fff;
}
.circle-img{
  width: 30px;
  height: 30px;
  background-color: grey;
  border: 1px solid #000;
  border-radius: 50%;
}
.profile .circle-img{
  vertical-align: middle;
  max-width: 100%;
}
/* upgrade */
.upgrade{
  height: 80px;
  width: calc(100% - 300px);
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  right: 15px;
  z-index: 10;
}
.btn{
  background: transparent;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
  margin: 30px;
  position: absolute;
  right: 0;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  transition: all 0.5s;
}
.btn:hover{
  transform: scale(1.1);
}
/* albums */
.albums{
  width: calc(100% - 300px);
  background-color: #141922;
  padding: 10px;
  overflow-y: auto;
}
.albums_nav{
  padding-top: 100px;
  text-align: center;
}
.albums_nav ul{
  list-style: none;
}
.albums_nav ul li{
  display: inline-block;
}
.albums_nav ul li:not(:last-child){
  margin-right: 20px;
}
.albums_nav ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: #666666;
  font-weight: bold;
  transition: color 0.5s;
}
.albums_nav ul li a:hover{
  color: #fff;
}
.underscored:hover{
  border-bottom: 2px solid lime;
  padding-bottom: 5px;
}
.albums-container{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 20px 0;
}
.section_title{
  color: #fff;
  padding: 10px 0;
  margin-top: 20px;
}
.album-box{
  width: calc((100% / 6) - 15px);
}
.album{
  position: relative;
}
.album-box:not(:last-child){
  margin-right: 15px;
}
.album_description{
  text-align: center;
  padding: 5px 0;
}
.album_description h3{
  color: #fff;
}
.author{
  margin: 10px 0;
}
.overlay{
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.4s;
}
.overlay i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #fff;
}
.album-box:hover .overlay{
  opacity: 1;
  cursor: pointer;
}
.second_section p,
.third_section p{
  color: #666666;
  margin-top: 5px;
}
.circle_album{
  overflow: hidden;
  border-radius: 50%;
}
/* footer */
footer{
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #282828;
}
.music_player{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}
.left{
  padding: 10px;
}
.album_img{
  height: 50px;
  display: inline-block;
  vertical-align: middle;
}
.album_img img{
  height: 100%;
}
.song_name{
  display: inline-block;
  vertical-align: middle;
}
.song_name p{
  font-size: 13px;
}
.song_name h5:hover,
.song_name p:hover{
  color: #fff;
  cursor: pointer;
}
.save{
  display: inline-block;
  margin-left: 20px;
}
.save i:first-child{
  margin-right: 10px;
}
.save i:hover{
  color: #fff;
  cursor: pointer;
}
.middle{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player{
  list-style: none;
  align-self: center;
  margin-bottom: 15px;
}
.player li{
  display: inline-block;
  vertical-align: middle;
}
.player li:not(:last-child){
  margin-right: 25px;
}
.player li a{
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}
.play{
  font-size: 40px;
  vertical-align: middle;
}
.play:hover{
  transform: scale(1.1);
}
.time{
  width: 80%;
}
.minutes{
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}
.total_time{
  width: 80%;
  height: 3px;
  background-color: #666666;
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px;
}
.passed_time{
  width: 30%;
  height: 3px;
  background-color: #fff;
  position: relative;
}
.rounded{
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  right: 0;
  bottom: -3px;
  visibility: hidden;
}
.passed_time:hover{
  background-color: lime;
}
.total_time:hover .rounded{
  visibility: visible;
}
.right{
  text-align: right;
}
.volume{
  list-style: none;
}
.volume li{
  display: inline-block;
  vertical-align: middle;
}
.volume li:not(:last-child){
  margin-right: 15px;
}
.volume li a{
  text-decoration: none;
  color: #fff;
}
.total_volume{
  width: 80px;
  height: 3px;
  background-color: #666666;
  vertical-align: middle;
}
.volume_set{
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: relative;
}
.volume_circle{
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  top: -3px;
  right: 0;
  visibility: hidden;
}
.total_volume:hover .volume_circle{
  visibility: visible;
}
/* responsive */
@media screen and (max-width: 1100px) {
  .albums_nav li{
    margin-bottom: 10px;
  }
  .album-box{
    width: calc((100% / 4) - 15px);
    font-size: 13px;
  }
  .time{
    text-align: center;
  }
  .total_time{
    width: 65%;
  }
}
@media screen and (max-width: 992px) {
  .save{
    vertical-align: middle;
  }
  .save i{
    padding: 2px 0;
    display: block;
  }
  .middle{
    width: 50%;
  }
  .player li:not(:last-child){
    margin-right: 20px;
  }
  .time{
    width: 100%;
    text-align: center;
  }
  .total_time{
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .logo_small{
    display: none;
  }
  .albums_nav li{
    font-size: 12px;
  }
  .albums_nav ul li:not(:last-child) {
    margin-right: 10px;
  }
  .album-box{
    width: calc((100% / 2) - 15px);
    font-size: 12px;
  }
  .music_player{
    flex-wrap: nowrap;
    padding: 0;
  }
  .save{
    vertical-align: middle;
  }
  .save i{
    padding: 2px 0;
    display: block;
  }
  .middle{
    width: 40%;
    margin-top: 10px;
  }
  .player li:not(:last-child){
    margin-right: 10px;
  }
  .time{
    width: 100%;
  }
  .total_time{
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  aside{
    width: 60px;
  }
  .logo-big{
    display: none;
  }
  .logo_small{
    display: block;
    height: 40px;
  }
  .actions{
    text-align: center;
  }
  .actions img{
    height: 25px;
  }
  .home{
    border: none;
  }
  .home,
  .search{
    margin-bottom: 5px;
  }
  .home a,
  .search a,
  .library a{
    display: none;
  }
  .playlist{
    display: none;
  }
  .install-app{
    border: none;
    margin-left: 8px;
  }
  .install-app img{
    height: 30px;
  }
  .install-app a,
  .profile a{
    display: none;
  }
  .upgrade{
    width: calc(100% - 60px);
  }
  .albums{
    width: 100%;
  }
  .albums_nav li{
    font-size: 12px;
  }
  .section_title{
    font-size: 16px;
  }
  .album-box{
    width: calc(50% - 15px);
    font-size: 12px;
    text-align: center;
  }
  .album-box img{
    width: 100%;
  }
  .left{
    padding: 0;
  }
  .save{
    vertical-align: middle;
  }
  .save i{
    display: block;
    font-size: 12px;
  }
}
@media screen and (max-width: 600px){
  .album_img{
    height: 30px;
  }
  .player li i{
    font-size: 17px;
  }
  .player li .play{
    font-size: 20px;
  }
  .minutes p{
    font-size: 12px;
  }
  .volume li:not(:last-child){
    margin-right: 5px;
  }
  .volume li a i{
    font-size: 14px;
  }
}
@media screen and (max-width: 500px){
  .album_img{
    padding: 5px;
    height: 40px;
  }
  .song_name,
  .save{
    display: none;
  }
  .player li i{
    font-size: 13px;
    vertical-align: middle;
  }
  .player li .play{
    font-size: 16px;
    vertical-align: middle;
  }
  .minutes{
    display: none;
  }
  .volume .songs_list,
  .volume .cast{
    display: none;
  }
  .total_volume{
    width: 50px;
  }
}
