/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* mix */
body{
  background-color: #000;
  color: #666666;
  font-family: 'Montserrat', sans-serif;
}
.wrapper{
  height: 100vh;
}
main{
  height: calc(100% - 100px);
  display: flex;
  overflow: auto;
}
h4{
  display: inline-block;
  vertical-align: middle;
}
img{
  max-width: 100%;
}
/* aside */
aside{
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #000;
  overflow: auto;
}
.logo{
  width: 100%;
  padding: 10px;
}
.logo img{
  height: 50px;
}
.actions{
  padding: 10px 5px;
}
.home,
.search,
.library{
  padding: 5px 0;
}
.home img,
.search img,
.library img{
  height: 30px;
  vertical-align: middle;
}
.playlist{
  padding: 10px;
}
.create_playlist{
  padding: 10px 5px;
}
.create_playlist i{
  font-size: 30px;
  vertical-align: middle;
}
.create_playlist h3{
  display: inline-block;
  vertical-align: middle;
}
ul.playlists{
  height: calc(100% - 80px);
}
.playlists{
  list-style: none;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.playlists li:not(:last-child){
  margin-bottom: 10px;
}
.bottom-aside{
  margin-top: auto;
}
.install-app{
  width: 250px;
  margin: 0 20px;
  padding: 10px 10px;
  border-bottom: 1px solid white;
}
.install-app a{
  text-decoration: none;
  color: grey;
}
.profile{
  width: 250px;
  padding: 10px 20px;
}
.circle-img{
  width: 30px;
  height: 30px;
  background-color: grey;
  border: 1px solid #000;
  border-radius: 50%;
}
.profile .circle-img{
  vertical-align: middle;
  max-width: 100%;
}
/* upgrade */
.upgrade{
  height: 80px;
  width: calc(100% - 300px);
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 300px;
  right: 0;
  z-index: 10;
}
.btn{
  background: transparent;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
  margin: 30px;
  position: absolute;
  right: 0;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}
/* albums */
.albums{
  width: calc(100% - 300px);
  height: calc(100% - 80px);
  margin-top: 80px;
  background-color: #141922;
  padding: 10px;
  overflow-y: auto;
}
.albums-container{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 20px 0;
}
.section_title{
  color: #fff;
}
.album{
  width: calc((100% / 6) - 15px);
}
.album:not(:last-child){
  margin-right: 15px;
}
.album_description{
  text-align: center;
  padding: 5px 0;
}
.album_description h3{
  color: #fff;
}






/* footer */
footer{
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: pink;
}
